/* Logo da empresa */
.logo {
  width: 97px;
}

.logo + p {
  font-family: 'Krona One';
  font-size: 1rem;
  color: white;
}



/* Página geral */
#main-grid {
  background-color: #aeb3dc;

  display: grid;
  grid-template-columns: minmax(250px, 300px /* 2fr */) 740px/* 4fr */;
  grid-template-rows: 130px 3fr 10px;
  /* justify-items: stretch; */
  /* align-items: center; */
}

/* logo em main-grid */
#main-grid > nav > #vp-logo {
  padding: 1rem 0 2.5rem 0;
}


/* User profile */
#user-profile {
  background-color: var(--azul-claro-background);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.5);
  /* -webkit-box-shadow: 1px 10px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 5px 1px rgba(0,0,0,0.75); */

  width: 100%;
  height: 100%;

  grid-row: 1;
  grid-column: 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 2rem;
  gap: 1rem;
}

#user-profile > p {
  text-align: start;
}



/* Menu */
#main-grid > nav {
  background-color: var(--azul-escuro-1);
  height: 100vh;

  grid-row: 1 / -1;
  
  /* align-content: start; */
}

#main-grid > nav > menu {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* gap: 1rem; */
  /* padding: 0 1rem 0 1rem; */
}

#main-grid > nav > menu li {
  list-style-type: none;
  /* color: white; */

  /* text-transform: uppercase; */

  /* padding: 1rem 0 1rem 0; */
}

/* #main-grid > nav > menu li:hover {
  background-color: var(--azul-claro-1);
  background-color: #3a4492;
  cursor: pointer;
} */

/* #main-grid > main {
  background: #3A4492;
} */

#main-grid > nav > menu .button-menu {
  display: flex;
  align-items: center;

  font-size: 1rem;
  text-align: start;

  background-color: var(--azul-escuro-1);
  /* cursor: pointer; */
  width: 100%;
  /* padding: 1rem 0 1rem 0; */
  padding: 1rem 1.5rem;
  border-radius: 0;
}

/* .button-menu {
  text-align: start;
} */

#main-grid > nav > menu .button-menu > span {
  padding-right: 1rem;
}

#main-grid > nav > menu .button-menu:hover {
  background-color: var(--azul-claro-1);
}

/* !important usado para sobrescrever a cor base de TAB */
.current-tab {
  background-color: var(--azul-claro-background) !important;
  color: var(--azul-escuro-1);
  font-weight: bolder;
}

main  {
  /* background-color: var(--azul-claro-1); */
  /* width: 100%; */

  padding: 1rem;

  /* transition: all 2s ease-in; */
}

main .tab-header {
  height: 50px;
}

main h2:first-child {
  font-size: 2rem;

  text-transform: uppercase;
}