/* Logo da empresa */
.logo {
  width: 97px;
}

.logo + p {
  font-family: 'Krona One';
  font-size: 1rem;
  color: white;
}



/* Página geral */
#main-grid {
  background-color: #aeb3dc;

  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  grid-template-rows: minmax(auto, 130px) 1fr;
}

/* logo em main-grid */
#main-grid > nav > #vp-logo {
  padding: 1rem 0 2.5rem 0;
}


/* User profile */
#user-profile {
  background-color: var(--azul-claro-background);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.5);
  /* -webkit-box-shadow: 1px 10px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 5px 1px rgba(0,0,0,0.75); */

  width: 100%;

  grid-row: 1;
  grid-column: 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem 2rem 1rem 0;
  gap: 1rem;
}

#user-profile > p {
  text-align: start;
}



/* Menu */
#main-grid > nav {
  background-color: var(--azul-escuro-1);
  min-height: 100%;

  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

#main-grid > nav > menu {
  display: flex;
  flex-direction: column;
}

#main-grid > nav > menu li {
  list-style-type: none;
}

#main-grid > nav > menu .button-menu {
  display: flex;
  align-items: center;

  font-size: 1rem;
  text-align: start;

  background-color: var(--azul-escuro-1);
  width: 100%;

  padding: 1rem 1.5rem;
  border-radius: 0;
}

#main-grid > nav > menu .button-menu > span {
  padding-right: 1rem;
}

#main-grid > nav > menu .button-menu:hover {
  background-color: var(--azul-claro-1);
}

/* !important usado para sobrescrever a cor base de TAB */
.current-tab {
  background-color: var(--azul-claro-background) !important;
  color: var(--azul-escuro-1);
  font-weight: bolder;
}

main  {
  padding: 1rem;

  grid-column: 2;
  grid-row: 2;
}

main .tab-header {
  max-height: 50px;
}

main h2:first-child {
  color: var(--azul-escuro-1);
  font-size: 1.5rem;
  text-transform: uppercase;
}


/* MOBILE */
@media (max-width: 850px) {
  #main-grid {
    grid-template-columns:  minmax(412px, auto) ;
    grid-template-rows: max-content max-content auto;
  }

  #main-grid > nav {
    overflow-x: auto;
    min-height: fit-content;
    min-width: 100%;

    grid-row: 1 / 2;
  }

  #main-grid > nav > #vp-logo {
    padding: 0.5rem 0 1rem 0;
  }

  #user-profile {
    box-shadow: none;

    grid-row: 2;
    grid-column: 1 / 2;
  }

  #main-grid > nav > menu {
    flex-direction: row;
  }

  #main-grid > nav > menu li {
    flex: auto;
  }

  /* esconder texto do menu */
  #main-grid > nav > menu > li > .button-menu > .hidden-text {
    text-indent: -9999px;
    /* overflow: hidden; */
    white-space: nowrap;
  }

  #main-grid > nav > menu .button-menu {
    justify-content: center;
  }

  #main-grid > nav > menu .button-menu > span {
    padding: 0;
  }

  main {
    padding: 0.75rem;
    overflow-x: auto;

    grid-row: 3;
    grid-column: 1 / 2;
  }


}