#painel {
  background-color: var(--azul-escuro-1);
  color: white;
  box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.1);
  align-self: center;

  width: 375px;
  min-height: 425px;
  padding: 1rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Seleção de usuário */
#painel button {
  padding: 0.7rem;
  border-radius: 9px;
  width: 130px;

  font-family: 'Roboto';
  font-size: 0.9rem;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#painel button:hover {
  background-color: var(--azul-claro-3);
  border-top: 1px solid #A6B1E2;
}

.botao-usuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.botao-usuario > button {
  margin-top: 2rem;
}

.botao-usuario > p,
#painel > form legend {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.8rem;
}

/* Margem para alinhar o texto */
#painel > form,
.botao-usuario {
  margin-top: 25px;
}


/* Login após seleção de usuário */
#painel > form > fieldset {
  border: 0;

  display: flex;
  flex-direction: column;
}

#painel > form  {
  width: 85%;
}

#painel > form > fieldset > div {
  font-size: 0.9rem;

  padding: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

#painel > form > div {
  margin-top: 1.25rem;

  display: flex;
  justify-content: space-around;
}

#painel > form > div button {
  width: 100px;
}



/* MOBILE */
@media (max-width: 850px) {
  #painel {
    margin-top: 10vh;
  }
}