#root {
  max-width: 1280px;
  text-align: center;

  /* display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1.5rem; */
}


/* Logo da empresa */
.logo {
  width: 97px;
}

.logo + p {
  font-family: 'Krona One';
  font-size: 1rem;
  /* color: red; */
}
