@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main */
:root {
  --azul-escuro-1: #121B63;
  --azul-escuro-2: #242E7D;
  --azul-claro-1: #8189C5;
  --azul-claro-2: #555FA7;
  --azul-claro-background: #aeb3dc;

  font-family: 'Roboto';

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;

  background: #3A4492;
  background: linear-gradient(180deg,rgba(58, 68, 146, 1) 16%, rgba(18, 27, 99, 1) 110%);
}

input {
  font-family: 'Roboto';
  font-size: 1rem;

  width: 100%;
  border: 1px solid var(--azul-escuro-2);
  border-radius: 4px;

  padding: 0.25em 0.5em;
}

input:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}